<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{{open_graph_tags}}}

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <style>
      {{{styles}}}
    </style>

    <title>{{title}}</title>
    <script defer type="module">
      import flamethrower from '/flamethrower.js'; flamethrower({ prefetch:
      'visible', log: true });
    </script>
  </head>

  <body>
    <main class="container">

      <nav>
        <ul>
          {{#each links}}
            <li><a href="{{this.url}}">{{this.label}}</a></li>
          {{/each}}
        </ul>
      </nav>

      <hgroup>
        {{#if page_metadata.title}}
          <h1>{{page_metadata.title}}</h1>
          <h2>{{page_metadata.description}}</h2>
        {{else}}
          <h1>{{title}}</h1>
          <h2>{{description}}</h2>
        {{/if}}
      </hgroup>

      {{{content}}}

    </main>
    <footer class="container">
      <small>
        Built with
        <a
          href="https://rustyink.cli.rs"
          target="_blank"
          rel="noopener noreferrer"
        >Rusty!nk</a>
        •
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/arjunkomath/rustyink"
        >
          Source code
        </a>
      </small>
    </footer>
  </body>

  <script type="text/javascript">{{{scripts}}}</script>
  <script
    src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.min.js"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/autoloader/prism-autoloader.min.js"
  ></script>
</html>