<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/base16/solarized-dark.min.css"
  integrity="sha512-kBHeOXtsKtA97/1O3ebZzWRIwiWEOmdrylPrOo3D2+pGhq1m+1CroSOVErIlsqn1xmYowKfQNVDhsczIzeLpmg=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<article>
  <header>
    {{#if author}}
      <p>
        {{#if author_link}}
          <small>// Written by <a href="{{author_link}}">{{author}}</a></small>
        {{else}}
          <small>// Written by {{author}}</small>
        {{/if}}
      </p>
    {{/if}}

    {{#if date_published}}
      <p><small>// {{date_published}}</small></p>
    {{/if}}
  </header>

  {{{body}}}

  {{#if some_data}}
    <footer><small>
        {{some_data}}
      </small></footer>
  {{/if}}
</article>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"
  integrity="sha512-rdhY3cbXURo13l/WU9VlaRyaIYeJ/KBakckXIvJNAQde8DgpOmE+eZf7ha4vdqVjTtwQt69bD2wH2LXob/LB7Q=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>