<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="{meta_description}" />
  
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    {{{code_highighting_styles}}}

    <style>
      {{{styles}}}
    </style>

    <title>{{meta_title}}</title>
  </head>

  <body>
    <main class="container">

    <nav>
        <ul>
          {{{links}}}
        </ul>
    </nav>

    {{{content}}}

    </main>
    
    {{{code_highighting_scripts}}}
  </body>

  <footer class="container">
    <small>
      Built with <a href="https://rustyink.techulus.xyz" target="_blank" rel="noopener noreferrer">Rusty!nk</a> •
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/arjunkomath/rustyink">
        Source code
      </a>
    </small>
  </footer>
</html>