<article>
  <header>
    {{#if data.author}}
    <p>
      {{#if data.author_link}}
      <small>// Written by <a href="{{data.author_link}}">{{data.author}}</a></small>
      {{else}}
      <small>// Written by {{data.author}}</small>
      {{/if}}
    </p>
    {{/if}}

    {{#if data.date_published}}
    <p><small>// {{format-date data.date_published "%d-%m-%Y"}}</small></p>
    {{/if}}
  </header>

  {{{body}}}
</article>